.single {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* padding: 0px; */
    height: 200px;
    padding: 29px;
    width: 300px;
    margin: 20px auto; /* Auto margin for centering horizontally */
}
